body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(105, 105, 105);
}

#root {
    padding: 0px 0px 25px 0px;
    width: 50rem;
    margin: auto;
    background-color: white;
}

#register, #basic, #Upload {
    background-color: #f1f1f1;
    position: relative;
    left: 2.5rem;
    padding: 10px;
    border-radius: 5px;
}

/* ----- LoginForm main div applied styles --------- */
.login_div {
    padding: 0px 0px 25px 0px;
    width: 40rem;
    margin: auto;
    position: relative;
}


/* ----- DetailsForm main div applied styles --------- */
.details_div {
    padding: 0px 0px 25px 0px;
    width: 40rem;
    margin: auto;
    position: relative;
}

/*------------ SubmitPage main div applied styles--------------*/
.submit_div {
    text-align: center;
    padding: 0px 0px 25px 0px;
    width: 45rem;
    margin: auto;
}



/* ----Title in DetailsDForm page----- */
.tender_title {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0764BA;
    font-weight: bold;
    padding: 10px 0px;
}

/*----------Title of Submit Page---------------*/
.submit_title {
    color: #000000;
    text-align: center;
    background-color: #E8E2E2;
    margin-top: -25px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*-----------Upload Title------------------*/
.upload_title {
    font-weight: 600;
    color: #0764BA;
    padding-left: 2.5rem;
}

/*----------- Submit page table design -----------*/

.DetailsClass {
    font-weight: 600; 
    background-color: #f5f4f4;
    border: 1px solid white;
}
.tableValues {
    color: #262626;
    background-color: rgb(255, 252, 245);
}
.ant-table-wrapper .ant-table-thead > tr > th.tableHeading {
    background-color: #F5A962;
    color: white;
    font-size: 1rem;
}
.ant-table-wrapper .ant-table-thead > tr > th {
    background-color: #efe5de;
    border: none;
}

.ant-table-wrapper .ant-table-tbody > tr > td, .ant-table-wrapper .ant-table-thead > tr > th {
    padding: 12px;
}

.ant-table-wrapper .ant-table-tbody > tr > td.detailValue {
    background-color: #fff5e4;
    font-weight: 600;
}

h3 {
    text-align: center;
    padding: 15px 10px;
    background-color: #bd6d23;
    color: white;
    font-size: 1.5rem;
}



input,
select,
textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #212121;
    border: 1px solid #C9C9C9;
}
